---
import Section from './Section.astro';

const year = new Date();
---

<Section>
	<footer class="text-center">
		
		© {year.getFullYear()} - <a class="underline hover:text-orange-600" href="https://github.com/ShivanshTyagi9/CosmicLab/#" target="_blank">CosmicLab</a
		> by <a
			class="underline hover:text-orange-600"
			href="https://www.linkedin.com/in/shivansh-tyagi-4747a12ba/"
			target="_blank">Cosmic</a
		>
	</footer>
</Section>
